body {
  font-family: Arial, serif;
  font-weight: bold;
}


.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.slider {
  margin-left: 10px;
  margin-right: 10px;
  /*flex-grow: 2;*/
}

.chem-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.chem-input {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  width: 50%;
}

#page-title {
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

.tick {
  font-size: 1.5em;
  font-weight: bold;
}

.csv-output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.csv-output {
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
}

.tabulate-btn {
  position: absolute;
  bottom: 0;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(157, 189, 242);
}
